{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron text-center">
 <a href="/" class="lang-logo">
  <img src="{% static 'pokemon-logo.jpg'%}">
 </a>
 <h1>PokerTrader</h1>
</div>
<div class="container">
 <div class="row text-center">
  <div class="col">
   {% include 'form.html' with pokemon_set='1' pokemon_list=pokemon_list1 %}
  </div>
  <div class="col">
   {% include 'form.html' with pokemon_set='2' pokemon_list=pokemon_list1 %}
  </div>
 </div>
 <div class="row">
  <div class="col">
   {% include 'list.html' with pokemon_list=pokemon_list1 %}
  </div>
  <div class="col">
   {% include 'list.html' with pokemon_list=pokemon_list2 %}
  </div>
 </div>
 <div class="row text-center">
  <div class="col">
   {% include 'reset.html' with pokemon_set='1' %}
  </div>
  <div class="col">
   {% include 'reset.html' with pokemon_set='2' %}
  </div>
 </div>
</div>
{% endblock %}
