<h4 class="text-center mt-2"><strong>Base experience:</strong> {{base_experience}}</h4>
{% for pokemon in pokemon_list %}
<form action="/remove/{{ comparison_id }}" method="POST">
{% csrf_token %}
<input type="hidden" name="pokemon_set" value="{{pokemon_set}}">
<input type="hidden" name="index" value="{{forloop.counter0}}">
<div class="card mb-3">
 <div class="row d-flex justify-content-left">
   <div class="col-2">
    <img class="card-img" alt="{{ pokemon.name }} picture" src="{{pokemon.picture_url}}" style="width: 90px;">
   </div>
   <div class="col">
    <h2 class="card-title">{{ pokemon.name }}</h2>
    <div class="card-text text-left"><strong>Base experience:</strong> {{ pokemon.base_experience }}</div>
   </div>
   <button type="submit" class="btn-close pokemon-remove" aria-label="Close"></button>
 </div>
</div>
</form>
{% empty %}
<div class="alert alert-info" role="alert">
 Add some Pokémons to this list so we can compare the sets!
</div>
{% endfor %}
